<!doctype html>
<html lang="en">
  <head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/header'); %>
  </head>

  <body>

    <%- include('partials/nav'); %>
    
    <main role="main">
      <div class="jumbotron">
        <div class="container justify-content-center ">
          <h1 class="display-3">A simple application</h1>
        </div>
      </div>
  
  
    </main>
    </div>
    <hr>
    <div class="table-data">
      <h2>Available services and their prices </h2>
          <table border="1" align="center">
              <tr>
                  <th>Index</th>
                  <th>Our Services</th>
                  <th>Pricing</th>
              </tr>
              
              <%
              if(userData.length!=0){
              var i=1;
              userData.forEach(function(data){
              %>
              <tr>
                  <td><%=i; %></td>
                  <td><%=data.service_type %></td>
                  <td><%=data.service_fee %></td>
              </tr>
              <%  i++; }) %>
              <% } else{ %>
                  <tr>
                      <td colspan="7">No Data Found</td>
                  </tr>
              <% } %>
          </table>
      </div>
      
      <div class="text-center">  
        <button id ="btn" > Book Now! </button>  
      </div>

  </div> <!-- /container -->
<%- include('partials/footer'); %>
    
</body>
</html>